@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-family: 'Poppins';
    font-weight: 900;
}

.btn {
    font-family: 'Poppins';
    font-weight: 500;
}

.slider {
    margin-bottom: 5rem;
}

.backgroud-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.opacity-img {
    opacity: 0.5;
}

.backgroud-overlay {
    background-color: black;
}

#left-arrow {
    background-color: whitesmoke;
}

#right-arrow {
    background-color: green;
}

.fill-color {
    color: #F59E0B;
}

.fill-color-opacity {
    color: #FCD34D;
}